@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
:root {
  --color1: #4a7cea;
}
body{
  letter-spacing: 1px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%;
  background-color:#9AA7A9;
  
}
.header{
  padding: 20px;
  background-color: #cfc5c5;
  border: 5px solid none;
  border-radius: 20px;
}
.everything{ /* used in index.html */
  position: absolute;
  left: 40%
}
input,textarea,button{
  padding: 10px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  transition: 0.4s;
  outline: none;
  width: 300px;
  font-size: 20px;
}
input:focus,textarea:focus {
  border: 4px solid var(--color1);
}
i{
  position:absolute;
  margin-left: -27px;
  margin-top: 23px;
}
button[type="submit"]{
color:white;
background-color: var(--color1);
}
button:hover {
    font-size: 20px;
    letter-spacing: 1.5px;
}
label{
font-size: 30px;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.status{
  background-color:white;
  height:80px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px; display:flex;
  justify-content:left;
}
.status li {
  padding-right: 20px;
  display: flex;
  align-content: center;
}
.left{
  position:absolute;
  top: 22%;
  background-color: #5c6064;
  border-radius: 20px;
  
}
.inner_form{
  padding:20px;

}
.logoutButton{
  color: white;
  background-color: black;
  border: 2px solid;
  border-radius: 10px;
  width: 130px;
  height: 55px;
}
.logoutButton:hover {
    letter-spacing: 1.5px;
}
.message{
  position: absolute;
  width: 49%;
  height: 550px;
  top:23%;
  left:49%;

  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 10px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
  background-color: #15191C;
  overflow-y: scroll;
}

hr{
  border: 2px solid var(--color1);
  background-color: var(--color1);
  border-radius: 2px; 
}


.inner-container1{
  background-color: rgb(182, 182, 162);
  border-radius: 0px 20px 20px 20px;
  margin-left: 10px;
  
}
.inner-container2{
  margin-left: 490px;
  border-radius: 20px 0px 20px 20px;
}

.inner-container1,.inner-container2{
  background-color: #2d3740;
  display: inline-block;
  width: fit-content;
  max-width: 220px;
  word-wrap: break-word;
  height: auto;
  padding: 15px;
  color: white;
}
.message::-webkit-scrollbar{
  width: 10px;
}
.message::-webkit-scrollbar-track {
  background-color: #2d3740;
}
.message::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 10px;
  height: 10px;
}
